<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Gender</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].gender %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Rating</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].rate %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Important Features</h2>
    <ul>
    <% for (var i=0; i<results[2].length - 1; i++){ %>
        <li><%= results[2][i].feature %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    <h2>How likely they are to Recommend the Website</h2>
    <ul>
    <% for (var i=0; i<results[2].length - 1; i++){ %>
        <li><%= results[3][i].recommend %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>